html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

.sort-viz {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.control-area {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
  padding: 1%;
  max-height: 10%;
}

.visualization-area {
  display: block;
  position: absolute;
  top: 15%;
  bottom: 0%;
  left: 0;
  right: 0;
}

#dropdown-sort-algo {
  display: inline-block;
}

.slider-num-elements {
  display: inline-flex;
  width: 100%;
  height: 1px;
  align-items: center;
}

.slider-num-elements-track {
  top: 0;
  bottom: 0;
  background: gray;
}

.slider-num-elements-thumb {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  background-color: #000;
  color: #fff;
  cursor: grab;
}